.table {
    .cellWrapper {
      display: flex;
      align-items: center;
  
      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
    }
  
    .status {
      padding: 5px;
      border-radius: 5px;
  
      &.Active {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
      &.Pending {
        color: goldenrod;
        background-color: rgba(189, 189, 3, 0.103);
      }
    }
  }

  



.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .boottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: lightgray;
        font-size: 20px;
      }
      
      .left {
          flex: 1;
          text-align: center;
  
          img {
            width: 130px;
            height: 130px;
            border-radius: 0%;
            border-radius: 5px;
            object-fit: cover;
            margin-top: 100px;
            margin-right:100px ;
          }
          .file1{
              width: 130px;
            height: 130px;
            border-radius: 0%;
            border-radius: 5px;
            object-fit: cover;
            margin-top: 10px;
            margin-right:100px ;

          }
        }

      .right {
        flex: 2;
          margin-left: 100px;
        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            width: 40%;
           .add {
            width: 90px;
            padding: 8px;
            border: none;
            background-color: rgb(106, 115, 252);
            color: white;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            }
            button:hover{
              background-color: rgb(52, 174, 250);
            }

            label {
              display: flex;
              align-items: center;
              gap: 10px;
              margin-top: 20px;

              .icon {
                cursor: pointer;
              }
            }
            input  {
              width: 100%;
              padding: 5px;
              border: 1px solid gray;
            }
          
            select  {
              width: 100%;
              padding: 5px;
              border: 1px solid gray;
            }
            textarea  {
              width: 100%;
              padding: 5px;
              border: 1px solid gray;
            }
          
          }

          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: rgb(106, 115, 252);
            color: white;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
          }
          button:hover{
            background-color: rgb(52, 174, 250);
          }
        }
      }
    }
  }
}
.form2{
   margin-top: 28px;
}
.form{
   
   margin-bottom: 25px;
}
.add{
  width: 150px;
  padding: 10px;
  border: none;
  background-color: rgb(26, 222, 12);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

  